################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Clib/.vs/Clib
/Clib/Clib/.vs
/Clib/Clib/obj/Debug
/Clib/Clib/bin/Debug
/Clib/GnClient/obj/Debug/net8.0-windows
/Clib/GnClient/obj
